
body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}

img{
    display: block;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-header-container{
    display: flex;
    align-items: center;
}

.menu-address-link:hover,
.menu-address-link:focus{
    color: #404bbf;
}

/*----------header-------------*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
   
}

.header-conteiner{
    display: flex;
    align-items: center;
    
}

.header-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
margin-right: 76px;

}

.header-nav{
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-right: 332px;
    
    
    
}

.header-logo-nav{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
}


.header-menu-list{
    display: flex;
    gap: 40px;
    margin: 16px 0;
    padding: 0 0 0 40px;
}

.header-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
margin-right: 0;
 
}


.menu-address{
    display: flex;
    gap: 40px;
    margin: 16px 0;
    
}
   

.menu-address-link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
} 

.address{
    font-style: normal;
}

/*----------section 1--------------*/


.section-main{
    background: #2e2f42;
    padding-top: 188px;
    text-align: center;
    padding-bottom: 188px;
    margin: 0 auto;

}

.main-logo{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
}

.main-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
border: none;
border-radius: 4px;
padding: 16px,32px;
margin: 0 auto;
margin-top: 48px;
min-width: 169px;
height: 56px;
display: block;
}

.main-btn:hover{ background-color: #404bbf;}
.main-btn:focus{ background-color:  #404bbf;}


/*----------section 2-----------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: o;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0);
overflow: hidden;
    
 }


.section-row-item{
    
    display: flex;
    gap: 24px;
    
}

.section-row{
    padding: 120px 0;
}

.section-row-list{
    
    width: calc((100% -3 * 24px) / 4);
}

.row-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
max-width: 264px;
margin-bottom: 8px;
}

.row-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;
}

/*----------section 3------------*/

.section-team{
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    
}

.section-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;
}

.section-team-foto{
    padding: 32px 0;
    text-align: center;
}

.our-title-item{
    margin-bottom: 8px;
}

.our-title{
    display: flex;
gap: 24px;
}


.our-title-row{
    width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
background-color: #fff;
}




/*--------- section 4---------- */

.portfolio-conteiner{
    padding-top: 120px;
    padding-bottom: 120px;

}


.portfolio-title-accent{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-title-text{
    width: calc((100% - 2 * 24px) / 3);
   
}

.portfolio-title-item{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
margin-bottom: 72px;
 
}

.portfolio-title-text-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;

}

.portfolio-conteiner-text{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/*---------- footer -----------*/

.footer{
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-nav{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;}


.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
padding-top: 16px;
max-width: 264px;
}
