
body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}
.menu-address-link:hover,
.menu-address-link:focus{
    color: #404bbf;
}
.header-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.header-logo-nav{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.header-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-address-link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
} 
.address{
    font-style: normal;
}
.section-main{
    background: #2e2f42;
}
.main-logo{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.main-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: #404bbf;
cursor: pointer;
}
.main-btn:hover{ color: #404bbf;}
.main-btn:focus{ color: #404bbf;}

.row-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.row-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.section-team{
    background: #f4f4fd;
}
.section-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
text-transform: capitalize;
}

.our-title-row{
    border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
background-color: #fff;
}
.our-title-item{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-transform: capitalize;
}
.our-title-item-team{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.portfolio-title-item{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
}
.portfolio-title-text-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.taste-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.footer{
    background: #2e2f42;
}
.footer-logo-nav{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
