
body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul{
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

.header-menu-link:hover,
.header-menu-link:focus{
    color: #404bbf;
}

img{
    display: block;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-header-container{
    display: flex;
    align-items: center;
}

.menu-address-link:hover,
.menu-address-link:focus{
    color: #404bbf;
}

/*----------header-------------*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.header-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
margin-right: 76px;

}

.header-container{
    display: flex;
align-items: center;
}

.header-nav{
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-right: 332px;
    
    
    
}

.header-logo-nav{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

.header-menu-list{
    display: flex;
    gap: 40px;
    margin-left: 76px;
}

.header-menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.menu-address{
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.menu-address-link{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
} 

.hero-wrap{
    background: #2e2f42;
    padding-top: 188px;
    text-align: center;
    padding-bottom: 188px;
    margin: 0 auto;
}

.address{
    font-style: normal;
}

/*----------section 1--------------*/
.section-main{
    background: #2e2f42;
}

.main-logo{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
}

.main-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
border: none;
border-radius: 4px;
padding: 16px,32px;
margin: 0 auto;
margin-top: 48px;
width: 169px;
height: 56px;
}

.main-btn:hover{ background-color: #404bbf;}
.main-btn:focus{ background-color:  #404bbf;}


/*----------section 2-----------------*/

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
 }


.section-row-item{
    
    display: flex;
    gap: 24px;
    
}

.conteiner-section{
    
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-row-list{
    
    width: calc((100% -3 * 24px) / 4);
}

.row-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
max-width: 264px;
padding-bottom: 8px;
}

.row-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;
}

/*----------section 3------------*/

.section-team{
    background: #f4f4fd;
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-team-foto{

}

.section-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: center;
text-transform: capitalize;
padding-top: 120px;
}


.our-title{
    display: flex;
background-color: #fff;
gap: 48px 24px;
flex-wrap: wrap;
}

.our-title-item{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
padding-top: 32px;
padding-bottom: 8px;
}

.our-title-row{
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
}

.our-title-item-team{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
}

/*--------- section 4---------- */

.conteiner-section{
    margin: 0 auto;
    padding: 32px 16px;
    
   
}

.portfolio-title-accent{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
margin-top: 120px;
    margin-bottom: 120px;
}

.portfolio-title-text{
    width: calc((100% - 2 * 24px) / 3);
}

.portfolio-title-item{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-transform: capitalize;
text-align: center;
}

.portfolio-title-text-list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-top: 32px;
}

.taste-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-top: 8px;
}

/*---------- footer -----------*/

.footer{
    background: #2e2f42;
    padding-top: 120px;
    display: inline-block;
margin-bottom: 16px;

}




   


.footer-logo-nav{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.footer-logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;}


.footer-text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
margin: 0 auto;
padding-top: 16px;
}
